<div class="container mt-4" *ngIf="character">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ character?.image }}" alt="{{ character?.name }}" class="img-fluid" />
      </div>
      <div class="col-md-8">
        <h2>{{ character?.name }}</h2>
        <ul class="list-unstyled">
          <li><strong>Status:</strong> {{ character?.status }}</li>
          <li><strong>Species:</strong> {{ character?.species }}</li>
          <li><strong>Gender:</strong> {{ character?.gender }}</li>
          <li><strong>Origin:</strong> {{ character?.origin?.name }}</li>
          <li><strong>Location:</strong> {{ character?.location?.name }}</li>
          <li><strong>Episodes:</strong>
            <ul>
              <li *ngFor="let episode of episodes">{{ episode }}</li>
            </ul>
          </li>
          <li><strong>Created:</strong> {{ character?.created | date }}</li>
        </ul>
      </div>
    </div>
  </div>
  