<div class="Master-profile ">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img [src]="userImage" alt="Avatar" class="profile-img">
                                <h2>{{username || "Guest"}}</h2>
                            </div>
                            <div class="col-md-8 profile-info">
                                <p><strong>Age:</strong> 20 y/o</p>
                                <p><strong>Registration Date:</strong> 01/01/2020</p>
                                <p><strong>Lives in:</strong> City, Country</p>
                                <p><strong>Planet:</strong> Earth</p>
                                <p><strong>Dimension:</strong> Dimension C-137</p>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Biography</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus, justo ac
                                    pharetra venenatis, purus orci consequat ligula, vel tincidunt odio ex nec dui.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Social Media</h4>
                                <a href="https://www.linkedin.com/user">LinkedIn</a>,
                                <a href="https://twitter.com/user">Twitter</a>,
                                <a href="https://www.instagram.com/user">Instagram</a>
                            </div>
                            <div class="col-md-12">
                                <h4>Achievements</h4>
                                <span class="badge">Super User</span>
                                <span class="badge">Admin</span>
                                <span class="badge">Photographer</span>
                                <span class="badge">Enthusiastic</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>